<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tools Solumada</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
    <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"> -->

    <link rel="stylesheet" href="/assets/fontawesome/fontawesome-free/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/fontawesome/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">

    <link rel="stylesheet" href="/assets/Icon-font-7-stroke/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="/assets/Icon-font-7-stroke/pe-icon-7-stroke/css/helper.css">

    <link rel="stylesheet" href="/assets/css/lib/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/lib/flag-icon-css/css/flag-icon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <link href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css" rel="stylesheet" />

    <style>
        #weatherWidget .currentDesc {
            color: #ffffff !important;
        }

        .traffic-chart {
            min-height: 335px;
        }

        #flotPie1 {
            height: 150px;
        }

        #flotPie1 td {
            padding: 3px;
        }

        #flotPie1 table {
            top: 20px !important;
            right: -10px !important;
        }

        .chart-container {
            display: table;
            min-width: 270px;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #flotLine5 {
            height: 105px;
        }

        #flotBarChart {
            height: 150px;
        }

        #cellPaiChart {
            height: 160px;
        }
    </style>
</head>

<body>
    <div id="preloader">
        <!--div id="charg">CHARGEMENT</div-->
    </div>
    <!-- <div id="preloader">
        <div id="loader" class="center"></div>
    </div> -->

    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="rightpanel-header">
            <div class="left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><img src="/images/logo.jpg" alt="Logo"></a>
                    <a class="navbar-brand hidden" href="/"><img src="/images/logo 2.jpg" alt="Logo"></a>
                    <!--a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a-->
                </div>
            </div>
            <div class="right">
                <div class="header-menu">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="/images/admin.png" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="/profil"> <i class="fa fa-user"></i> Mon Profile</a>
                            <a class="nav-link" href="/user" id="utilisateur"><i class="fa fa-solid fa-users"></i>
                                Utilisateur</a>
                            <a class="nav-link" href="/historique" id="historique"><i
                                    class="fa fa-thin fa-calendar-check"></i> Historiques</a>
                            <a class="nav-link" href="/logout"><i class="fa fa-power-off"></i> Déconnecter</a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
    </div>
    <!-- /#header -->
    <!-- Content -->
    <div class="container-fluide">
        <!-- Animated -->
        <input type="hidden" name="" id="typeUtil" value="<%= type_util %> ">
        <div class="animated fadeIn p-0">
            <!-- Widgets  -->
            <div class="tcontainer">
                <div class="tleft-navbar">
                  <a href="/acceuil" class="tback-home"><span class="fa fa-arrow-left"></span></a>
                  <h1 class="tboard-openform"><i class="fa fa-business-time"></i> <span>GESTION DE PROJET</span></h1>
                  <div class="tboard-list-title">
                    <span>Vos tableaux</span>
                    <div class="actions">
                      <button onclick="tBoardOpenAddItem('tadd-board-field')"><i class="fa fa-plus"></i></button>
                      <button onclick="tBoardOpenSearchItem('search-board-field')"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                  <div class="tboard-form" id="tadd-board-field" hidden>
                    <div class="tboard-form-header">
                      <label for="tboard-item-tile-input">Créer un tableau</label>
                      <button onclick="tBoardCloseAddItem('tadd-board-field')">
                        <i class="fa fa-times mx-2"></i>
                      </button>
                    </div>
                    <div class="tboard-form-input">
                      <input type="text" id="tboard-item-tile-input" value="" placeholder="Titre du tableau">
                      <button onclick="tBoardSaveItem()">
                        <i class="fa fa-save mx-2"></i> Créer
                      </button>
                    </div>
                  </div>
                  <div class="tboard-form" id="search-board-field" hidden>
                    <div class="tboard-form-header">
                      <label for="tboard-search-item-input">Chercher par titre</label>
                      <button onclick="tBoardCloseSearchItem('search-board-field')">
                        <i class="fa fa-times mx-2"></i>
                      </button>
                    </div>
                    <div class="tboard-form-input">
                      <input type="search" id="tboard-search-item-input" value="" placeholder="Titre..." onkeyup="tBoardSearchItem(this, 'tboard-list')">
                      <p></p>
                    </div>
                  </div>
                  <div id="tboard-list" class="tboard-list">
                    <% boards.forEach(board => { %> 
                    <div class="tboard-item <%= boardId == board._id ? 'active': '' %> ">
                      <a href="/gestion-projet/board-item/<%= board._id %>" class="tboard-item-link">
                        <i class="fa fa-eye"></i>
                      </a>
                      <input type="text" value="<%= board.title %>" disabled id="<%= board._id %>">
                      <div class="actions action-1-<%= board._id %>">
                        <button onclick="tBoardEditItemTitle('<%= board._id %>')">
                          <i class="fa fa-edit"></i>
                        </button>
                        <button onclick="tBoardDeleteItemTitle('<%= board._id %>')">
                          <i class="fa fa-trash-alt"></i>
                        </button>
                      </div>
                      <div class="actions action-2-<%= board._id %>" hidden>
                        <button onclick="tBoardSaveItemTitle('<%= board._id %>')">
                          <i class="fa fa-save"></i>
                        </button>
                        <button onclick="tBoardCancelItemTitle('<%= board._id %>')">
                          <i class="fa fa-times"></i>
                        </button>
                      </div>
                    </div>
                    <% }) %> 
                  </div>
                  <div class="tboard-list-title">
                    <span>Partagés avec vous (<%= sharedItems.length %>)</span>
                    <div class="actions">
                      <button onclick="tBoardOpenSearchItem('search-shared-item')"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                  <div class="tboard-form" id="search-shared-item" hidden>
                    <div class="tboard-form-header">
                      <label for="tboard-search-item-input">Faire un recherche</label>
                      <button onclick="tBoardCloseSearchItem('search-shared-item')">
                        <i class="fa fa-times mx-2"></i>
                      </button>
                    </div>
                    <div class="tboard-form-input">
                      <input type="search" id="tboard-search-item-input" value="" placeholder="Titre..." onkeyup="tBoardSearchItem(this, 'shared-items')">
                      <p></p>
                    </div>
                  </div>
                  <div class="notifs" id="shared-items">
                    <% sharedItems.forEach(item => { %> 
                    <div class="shared-list-item">
                      <div class="infos">
                        <span><%= item.title %></span> <br>
                        <small>Créer par: <b><%= mcode === item.owner ? 'Vous' : item.owner %></b></small>
                        <input type="hidden" value="<%= item.title %> - <%= item.owner %>">
                      </div>
                      <div class="actions">
                        <button onclick="checkSharedItem('<%= item._id %>')"><i class="fa fa-info-circle"></i></button>
                      </div>
                    </div>
                    <% }) %> 
                  </div>
                </div>
                <div class="tright-navbar">
                    <div class="trash-field">
                      <div class="trash-field-container" id="ttrash" hidden>
                        <div class="trash-field-icon">
                          <i class="fa fa-trash"></i>
                          <p>Supprimer</p>
                        </div>
                        <div class="trash-field-icon">
                          <i class="fa fa-sync"></i>
                          <p>Suppression</p>
                        </div>
                        <div class="trash-field-icon">
                          <i class="fa fa-check-circle"></i>
                          <p>Supprimé</p>
                        </div>
                      </div>
                    </div>
                    <div class="tright-home">
                        <div class="tright-home-box">
                            <h2><span class="fa fa-business-time"></span></h2>
                            <small>Bienvenu dans </small>
                            <h1>GESTION DE PROJET</h1>
                            <p>
                                Créer et personnaliser votre gestionaire de tâches.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                  <div class="tmodal" id="tmodal-1" hidden>
                    <div class="tedit-card">
                      <div class="tedit-card-header">
                        <button class="tbtn-dismiss-modal float-end" onclick="tModalDismiss('tmodal-1')">
                          <i class="fa fa-times"></i>
                        </button>
                      </div>
                      <div class="tedit-card-body">
                        <div class="row">
                          <div class="col-12">
                            <!-- card title -->
                            <div class="tedit-card-item">
                              <p>
                                <i class="fa fa-credit-card"></i>
                                <span id="tmodal-litem-title">Card title</span>
                                <input type="hidden" id="tmodal-litem-id" value="">
                              </p>
                              <div>
                                <span>Dans la liste <b id="tmodal-litem-parent-title">To Do</b> </span>
                                <div class="row">
                                  <div class="col-8">
                                    <p class="text-muted">Membres</p>
                                    <div class="tedit-members">
                                      <div class="tedit-members-list" id="tmodal-litem-members">
                                        <span>njatotian@gmail.com <button><i class="text-white fa fa-times"></i></button></span>
                                      </div>
                                      <div class="tedit-member-showadd">
                                        <button onclick="tShowAvailableMembers(this)"><i class="fa fa-plus"></i></button>
                                      </div>
                                      <div class="tform-group tmember-available-list" hidden>
                                        <input type="text" class="form-controld" custom-list="listofmembers"  id="tmember-input" placeholder="Ajouter un nouveau membre">
                                        <div id="listofmembers">
                                          <% users.forEach(user => { %>
                                            <div id="user-<%= user.email %>">
                                              <option label="<%= user.email %>" onclick="get_member('<%= user.mcode %>')" value="<%= user.email %>"><%= user.email %> </option>
                                              <button onclick="tMoveMember('<%= user.email %>')"><i class="fa fa-plus"></i></button>
                                            </div>
                                          <% }) %> 
                                        </div>
                                        <!-- <button class="tbtn" type="button" id="addMember" onclick="tAddMember()"><i class="fa fa-plus"></i></button> -->
                                      </div>
                                    </div>
                                  </div>
                                  <!-- THEME -->
                                  <div class="col-4">
                                    <p class="text-muted">Thème</p>
                                    <div class="tedit-card-theme">
                                      <div class="tedit-card-active-theme my-1">
                                        <div class="ttheme-active" id="tmodal-litem-theme-active" style="background: black"></div>
                                        <small class="text-muted"><i class="fa fa-arrow-circle-right"></i> <span id="tmodal-litem-theme-active-name" class="text-uppercase"></span> </small>
                                        <input type="hidden" id="tmodal-litem-theme-input" name="theme" value="">
                                      </div>
                                      <div class="tedit-card-customize-theme ttheme-field">
                                        <label for="cust-theme">Personnaliser: </label>
                                        <input type="color" onchange="tSetThemeColor(this)" id="cust-theme">
                                      </div>
                                      <div class="ttheme-field">
                                        <label for="tmodal-litem-theme-div">Choisir: </label>
                                        <div class="tedit-card-available-theme" id="tmodal-litem-theme-div">
                                          <div class="ttheme ttheme-item" style="background: lightpink"></div>
                                          <div class="ttheme ttheme-item" style="background: lightseagreen"></div>
                                          <div class="ttheme ttheme-item" style="background: yellowgreen"></div>
                                          <div class="ttheme ttheme-item" style="background: lightslategray"></div>
                                          <div class="ttheme ttheme-item" style="background: lightsalmon"></div>
                                          <div class="ttheme ttheme-item" style="background: cyan"></div>
                                          <div class="ttheme ttheme-item" style="background: violet"></div>
                                          <div class="ttheme ttheme-item" style="background: crimson"></div>
                                          <div class="ttheme ttheme-item" style="background: orange"></div>
                                          <div class="ttheme ttheme-item" style="background: #37387D"></div>
                                          <div class="ttheme ttheme-item" style="background: #398C39"></div>
                                          <div class="ttheme ttheme-item" style="background: #DA534B"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- card description -->
                            <div class="tedit-card-item">
                              <p>
                                <i class="fa fa-pen"></i>
                                Description
                              </p>
                              <div class="tdescription">
                                <textarea class="tcard-description" placeholder="Décrivez la carte..." id="tmodal-litem-description" rows="2"></textarea>
                              </div>
                            </div>
                            <!-- card checklist -->
                            <div class="tedit-card-item">
                              <p>
                                <i class="fa fa-check"></i>
                                Checklist
                              </p>
                              <div class="row">
                                <!-- Check list progress bar -->
                                <div class="col-12">
            
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12">
                                  <div class="tcard-checklist-progress">
                                    <div class="progress-bar">
                                      <div class="progress-bar-content"></div>
                                    </div>
                                    <div class="percent">0%</div>
                                  </div>
                                  <div class="tcard-checklist" id="tmodal-litem-checklist">
                                    <div class="tcard-checklist-item">
                                      <!-- check -->
                                      <div class="tform-check">
                                        <input class="form-check-input" onchange="tCardCheckListUpdateProgressBar()" type="checkbox" checked value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                          <div class="tcard-checklist-details">
                                            <div class="tcard-checklist-item-title">
                                              <i class="fa fa-tag"></i>
                                              <input type="text" id="tcard-checklist-item-title-input">
                                            </div>
                                            <div class="tcard-checklist-hidden-details" id="details-1" hidden>
                                              <!-- assign -->
                                              <div class="tcard-checklist-item-assigned">
                                                <i class="fa fa-user"></i>
                                                <input type="text" id="tcard-checklist-item-assigned-input">
                                              </div>
                                              <!-- due date -->
                                              <div class="tcard-checklist-item-duedate">
                                                <i class="fa fa-calendar-alt"></i>
                                                <input type="date" name="" id="tcard-checklist-item-duedate-input">
                                              </div>
                                            </div>
                                          </div>
                                        </label>
                                      </div>
                                      <!-- action -->
                                      <div class="tcard-checklist-item-action">
                                        <button class="tbtn-custom" onclick="tcardChecklistExpandItem(this, 'details-1')"><i class="fa fa-eye"></i></button>
                                        <button class="tbtn-custom" onclick="tcardChecklistDeleteItem(this)"><i class="fa fa-trash"></i></button>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- Add checklist -->
                                  <div class="tcard-checklist-add">
                                    <button class="tbtn-custom tbtn-wonderful text-dark" onclick="tCardCheckListShowAddForm(this)">+ Nouveau checklist</button>
                                    <div class="tcard-checklist-add-form" hidden>
                                      <div class="tform-group-checklist">
                                        <label for="">Titre: </label>
                                        <input type="text" id="tcard-checklist-title-input" placeholder="Nom du checklist...">
                                      </div>
                                      <div class="tform-group-checklist">
                                        <label for="">Affecté à: </label>
                                        <input type="text" id="tcard-checklist-assigned-input" placeholder="Nom ou M-CODE...">
                                      </div>
                                      <div class="tform-group-checklist">
                                        <label for="">Date d'échéance: </label>
                                        <input type="date" name="" id="tcard-checklist-duedate-input">
                                      </div>
                                      <div class="tform-group-checklist float-end">
                                        <button class="tbtn-custom tbtn-wonderful text-primary me-1" onclick="tCardCheckListAddItem(this)"><i class="fa fa-plus"></i> Ajouter</button>
                                        <button class="tbtn-custom tbtn-wonderful text-warning ms-1" onclick="tCardCheckListCancelForm(this)"><i class="fa fa-times"></i> Annuler</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- card activity -->
                            <div class="tedit-card-item">
                              <p>
                                <i class="fa fa-tasks"></i>
                                Activité
                              </p>
                              <div class="tactivity">
                                <textarea class="tcard-activity" placeholder="Ecrivez un commentaire..." id="tmodal-litem-activity" rows="2"></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <hr>
                          <div class="tedit-card-actions">
                            <button class="tbtn-custom tbtn-wonderful text-success" onclick="tModalUpdateItem('tmodal-1')"><i class="fa fa-save"></i> Mettre à jour</button>
                            <button class="tbtn-custom tbtn-wonderful text-danger" onclick="tModalDismiss('tmodal-1')"><i class="fa fa-times"></i> Fermer</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- /#right-panel -->

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="/assets/js/main.js"></script>

    <script src="/gestion-projet/js/script.js"></script>
    <script src="/gestion-projet/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/fontawesome/js/all.js"></script>
    <!--  Chart js -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>

    <! --Chartist Chart-->
    <script src="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartist-plugin-legend@0.6.2/chartist-plugin-legend.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot-pie@1.0.0/src/jquery.flot.pie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/simpleweather@3.1.0/jquery.simpleWeather.min.js"></script>
    <script src="assets/js/init/weather-init.js"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
    <script>
        // document.onreadystatechange = function () {
        //     if (document.readyState !== "complete") {
        //         document.querySelector(
        //             "body").style.visibility = "hidden";
        //         document.querySelector(
        //             "#loader").style.visibility = "visible";
        //     } else {
        //         document.querySelector(
        //             "#loader").style.display = "none";
        //         document.querySelector(
        //             "body").style.visibility = "visible";
        //     }
        // };

        var loader = document.getElementById("preloader")
        window.addEventListener("load", function () {
            loader.style.display = "none"
            document.body.style.background = "linear-gradient(#A0B9E5, #D1DCF0)";
        });
        document.querySelectorAll('button').forEach(button => {
          if (!button.hasAttribute('type')) {
            button.setAttribute('type', 'button');
          }
        });
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>